<!DOCTYPE html>
{% include base.html %}
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Cyclone : Cyclone Scheme - Cheney on the M.T.A. with native threads.">

    <link rel="shortcut icon" href="{{ base }}favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ base }}stylesheets/stylesheet.css">

    <title>Cyclone Scheme</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_menu_wrap" class="outer" style="background: #647BA8">
        <header class="inner-top">
          <p class="banner">
            <a style="margin-right: 3em;" href="{{ base }}index"><img src="{{ base }}docs/images/cyclone-logo-header.png" alt="Cyclone"></a>
            <a class="banner 
               {% if page.title == "User Manual" %}banner-highlight{% endif %}"
               href="{{ base }}docs/User-Manual">Manual</a> -
            <a class="banner 
               {% if page.title == "API" %}banner-highlight{% endif %}"
               href="{{ base }}docs/API">API</a> - 
            <a class="banner 
               {% if page.title == "Scheme R7RS Compliance" %}banner-highlight{% endif %}"
               href="{{ base }}docs/Scheme-Language-Compliance">R<sup>7</sup>RS Compliance</a> -
            <a class="banner 
               {% if page.title == "News" %}banner-highlight{% endif %}"
               href="{{ base }}news">News</a>  
          </p>
        </header>
    </div>
    <div id="header_wrap" class="outer">
        <header class="inner">
            <section id="downloads">
              <a class="banner-forkme" href="https://github.com/justinethier/cyclone">View on GitHub</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      {{ content }}
      {% if page.title == "Cyclone Scheme" %}{% include recent-news.html %}{% endif %}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Cyclone is maintained by <a href="https://github.com/justinethier">justinethier</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
